<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Supernac"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        tools:replace="android:label">
        <activity
            android:name=".Padaria"
            android:exported="false" />
        <activity
            android:name=".Hortifruti"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".bebidas"
            android:exported="false" />
        <activity
            android:name=".teste"
            android:exported="false" />
        <activity
            android:name=".Vendas_Online"
            android:exported="false" />
        <activity
            android:name=".casa"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert"
            android:exported="false"
            />
        <activity
            android:name=".alimentos"
            android:exported="false" />
        <activity
            android:name=".categoria"
            android:exported="false" />
        <activity
            android:name=".eletronicos_carrinho"
            android:exported="false" />
        <activity
            android:name=".finalizando_compras"
            android:exported="false" />
        <activity
            android:name=".CarrinhoJogosActivity"
            android:exported="false" />
        <activity
            android:name=".Informatica"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>